.header p {
  background-color: rgb(93, 115, 212);
  color: white;
  margin-top: 0px;
  padding: 20px 0px 20px 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 600;
}

.container {
  border-radius: 1rem;
  box-shadow: 0 0px 10px #80808061;
  height: 656px;
  opacity: 1;
  padding: 0px;
  width: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contentwrapper {
  margin: 0px 18px;
}

.heading p {
  font-size: 16.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
}

.dropdownmenubtn {
  background-color: inherit;
  color: rgb(93, 115, 212);
  border: 1px solid rgb(93, 115, 212);
  border-radius: 5px;
  padding: 10px 15px 10px 90px;
  font-size: 14px;
  font-weight: 600;
  margin: 5px 15px 10px 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.dropdownmenubtn:hover {
  background-color: rgba(93, 115, 212, 0.156);
  color: rgb(93, 115, 212);
}

.dropdownmenubtn div {
  padding-left: 50px;
  padding-right: 0px;
  font-weight: bolder;
  font-size: 18px;
  align-items: center;
  text-decoration: none;
}

.subtext p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
}

.descwrapper {
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 30px;
}

.desc {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: left;
  margin: 0px 15px;
  padding: 10px 0px;
}

.contbtn:disabled {
  background-color: rgba(93, 115, 212, 0.452);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 20px 10px;
  width: 323px;
  font-size: 14px;
  font-weight: bold;
  margin: 80px 0px 10px 0px;
  text-align: center;
  cursor: not-allowed;
}