.container {
  border-radius: 1rem;
  box-shadow: 0 0px 10px grey;
  height: 656px;
  opacity: 1;
  padding: 0px;
  width: 360px;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.contentwrapper {
  margin: 0px 18px 0px 18px;
}

.subheading {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: left;
  margin-top: 20px;
}

select {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #137cce;
  padding: 5px;
  margin: 5px 0px 13px 0px;
  font-size: 12px;
  font-weight: 600;
  color: #137cce;
  background-color: white;
  text-align: center;
  background: url('../../assets/arrow.png') no-repeat;
  background-position: 95% 50%;
  background-size: 4%;
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
}

select:hover {
  cursor: pointer;
  background-color: #137cce;
  color: white;
}

.agesection p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.btns {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.less60 {
  width: 50%;
  border: 1px solid #137cce;
  background-color: inherit;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  color: #137cce;
  height: 35px;
}

.more60 {
  width: 50%;
  border: 1px solid #137cce;
  background-color: #137dce27;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #137cce;
  height: 35px;
}

.more60:hover {
  cursor: pointer;
  background-color: rgba(138, 151, 212, 0.529);
  color: #137cce;
}

.less60:hover {
  cursor: pointer;
  background-color: rgba(203, 209, 236, 0.44);
  color: #137cce;
}
.less-60:active {
  background-color: #137cce;
  color: white;
}
.more60:active {
  background-color: #137cce;
  color: white;
}

.consentsection {
  margin-top: 113px;
  background-color: rgb(191, 237, 239);
  padding: 30px 30px 30px 20px;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 12px;
  align-items: center;
  justify-content: center;
}

.startbtn {
  width: 100%;
  background-color: #137cce;
  color: white;
  border: 1px solid #137cce;
  border-radius: 5px;
  padding: 15px 0px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0px;
}

.startbtn:disabled {
  width: 100%;
  background-color: #137dce2b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 0px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.startbtn:hover:enabled {
  cursor: pointer;
  background-color: #137dce34;
  color: white;
  border: 1px solid #137cce;
}

.startbtn:active:enabled {
  background-color: white;
  color: #137cce;
}
.consenttext {
  font-size: 15px;
  text-align: center;
  padding-left: 15px;
}

.consentsection input, .consentsection span {
  cursor: pointer;
  margin-left: 10px;
}

.consentsection input[type='radio'] {
  transform: scale(3.3);
}