.header-register {
  background-color: rgb(93, 115, 212);
  color: white;
  margin-top: 0px;
  padding: 20px 0px 20px 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.register-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
}

.top-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-paragraph-description {
  height: 100px;
  width: 300px;
  font-size: 14px;
  text-align: left;
  background-color: whitesmoke;
  padding: 0px 15px 15px 15px;
  border-radius: 10px;
}

.register-partition {
  width: 100%;
  border-top: 2px solid lightgray;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
}

.register-container {
  border-radius: 1rem;
  box-shadow: 0 0px 10px grey;
  height: 656px;
  margin-top: 2rem;
  opacity: 1;
  padding: 0px;
  width: 360px;
  margin: auto;
}

.heading {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 5px 5px 0px;
  text-align: center;
}

.sub-heading {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.bottom-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.otp-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-desc {
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-input-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 320px;
  height: 50px;
  padding-bottom: 100px;
}

.contact-input-label {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
  padding-top: 20px;
}

.contact-input-field {
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

.validate-btn {
  background-color: rgb(93, 115, 212);
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  width: 100%;
}

.avatar-app-continue-btn {
  margin-top: 10px;
  background-color: rgb(93, 115, 212);
  color: white;
  font-size: 18px;
  font-weight: bolder;
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  width: 100%;
}